*{
    box-sizing: border-box;
}

body{
    margin: 0%;
}

#menu{
    height: 100px;
    background-color: #f8f9fa;
    padding: 0 20px;
}

#logo{
    font-size: 50px;
    position: absolute;
    line-height: 100px;
    color: black;
    float: left;
}

#logo:hover{
    color: orange;
    
}

nav{
    float: right;
    line-height: 100px;
    color: #000;
    
}

nav a:link{
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
    color: #f8f9fa;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid #f8f9fa;
}

.ikon{
    margin-right: 7px;
    font-size: 16px;
}

#anasayfa{
    background-color: gray;
    height: 800px;
    background-image: url("img/soru-cozmek.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 800px;
    background-color: black;
    opacity: 70%;
}

#icerik{
    position: absolute;
    top: 30%;
    left: 10%;
    color: #f8f9fa;
    font-size: 30px;
}

#hakkimizda{
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
}

h3{
    font-size: 55px;
    color: black;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#sol{
    float: left;
    border-right: 3px solid gray;
    font-size: 30px;
    width: 400px;
    color: black;
}

#h5sol{
    line-height: 1.6;
    font-size: 45px;
    font-weight: 600;
}

#h5sol, #sag{
    margin: 0;
    padding: 0;
    margin-top: 2px;

}

#sag{
    text-align: center;

}

.img-fluid{
    max-width: 100%;
    height: auto;
}

#pson{
    font-size: 35px;
}

#egitimler{
    background-color: darkorange;
    padding: 10px;
    text-align: center;
    height: 1000px;
}

#card{
    width: 320px;
    height: 400px;
    border: 1px solid #999;
    padding: 0;
    display: inline-block;
    border-radius: 2%;
    margin: 20px;
    background-color: #fff;


}

.baslikcard{
    font-size: 15px;
    color: darkorange;
}

.cardp{
    color: #888;
}

.cardpara{
    color: black;
    font-size: 20px;
}

#ekip{
    background-color: #003666;
    padding: 50px;
    height: 1000px;
    text-align: center;
}

#ekiph3{
    color: #f8f9fa;
}

.sutun-sol-sag{
    width: 800px;
    float: left;
    padding: 50px;
}

.oval{
    border-radius: 20%;
}

.ekipisim{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.ekipp{
    color: #888;
    font-size: 20px;
}

#iletisim{
    background: url(../img/soru-cozmek.jpg);
    background-size: cover;
    padding: 50px;
    height: 1000px;
    text-align: center;
    background-color: gray;
    background-position: center;
    background-attachment: fixed;
}

#h3iletisim{
    color: #fff;
}

#iletisimopak{
    background: rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    height: 550px;
}

#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#solform{
    width: 49%;
    float: left;
}

#sagform{
    width: 49%;
    float: right;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #495057;
}

textarea{
    font-family: arial;
}

input[type="submit"]{
    cursor: pointer;
    background-color: darkorange;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 580px;
}

#adres{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik{
    font-size: 30px;
    color: white;
}

.adresp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#up{
    color: black;
}

.soru{
    text-align: center;
}
